{% extends 'ClassroomBundle:ClassroomManage:layout.html.twig' %}

{% block title %}批量导入学员 - {{ parent() }}{% endblock %}

{% set side_nav = 'students' %}
{% set script_controller = 'customwebbundle/controller/customClassroomManage/lead-excel' %}

{% block main %}
{{ web_macro.flash_messages() }}

    <div class="row">
          <form method="post" enctype="multipart/form-data" action="{{ path('classroom_manage_student_batch_base',{id:classroom.id}) }}">
              {% if errorInfo %}
                {% for errorInfo in errorInfo%}
                 <div class="col-md-offset-2">{{errorInfo|raw}}</div><br>
                {% endfor %}
                <div class="col-md-offset-2"><a type="button" class="btn btn-primary" href="{{ path('classroom_manage_student_batch_create',{id:classroom.id} ) }}">重新导入</a></div> 
              {% else %}
                 {% if checkInfo %}
                  {% for checkInfo in checkInfo%}
                    <div class="col-md-offset-2">{{checkInfo}}</div><br>
                  {% endfor %}
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
                <input type="hidden" value="{{allUserData}}" name="data">
                 <input type="hidden" value="{{checkType}}" name="checkType">
                  <div class="col-md-offset-2">校验成功！一共包含 <b>{{userCount}}</b>个用户信息</div><br>
                  <div class="col-md-offset-2"><button type="submit" class="btn btn-primary" id="start-import-btn" >确定导入</button> <a type="button" class="btn btn-primary" href="{{ path('classroom_manage_student_batch_create',{id:classroom.id}) }}">返回</a></div> 
              {% endif %}      
             
             
          </form>
    </div>

{% endblock %}